<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTome</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header>
    <div class="navbar">
        <a th:href="@{/}" ><img src="/images/header/Logo.png" alt="Logo Image" class="logo"></a>
        <div class="search-box">
            <label>
                <input type="text" class="search-bar" placeholder="Search...">
            </label>
            <button class="search-btn"><img src="/images/header/search.png" alt="Search Icon" class="search-icon"></button>
        </div>
        <div class="icons">
            <a th:href="@{'/shopping/'}">
                <img src="/images/header/shopping_cart.png" alt="Shopping cart Picture" class="shopping-cart">
            </a>
            <a th:href="@{'/users/profile'}">
                <img src="/images/header/Profile.png" alt="Profile Picture" class="profile-picture">
            </a>
        </div>
    </div>
</header>

<div class="main-container">

    <div class="sidebar">
        <div class="menu">
            <a th:href="@{'/home'}">
                <button>HOME</button>
            </a>
            <a th:href="@{'/category/computers'}">
                <button>COMPUTERS</button>
            </a>
            <a th:href="@{'/category/laptops'}">
                <button>LAPTOPS</button>
            </a>
            <a th:href="@{'/category/keyboards'}">
                <button>KEYBOARDS</button>
            </a>
            <a th:href="@{'/category/mice'}">
                <button>MICE</button>
            </a>
            <a th:href="@{'/category/monitors'}">
                <button>MONITORS</button>
            </a>
        </div>
    </div>

    <div class="main-content">
        <div class="promotions">
            <a th:href="@{'/promotions/new'}">
                <button>WHAT'S NEW</button>
            </a>
            <a th:href="@{'/promotions/bestseller'}">
                <button>BESTSELLER</button>
            </a>
            <a th:href="@{'/promotions/promotion'}">
                <button>PROMOTIONS</button>
            </a>

        </div>
        <div class="content">
            <label>Content</label>
        </div>
    </div>

    <div class="sidebar">
        <label></label>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>
