html{
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  margin-top: 104px;
  padding: 0;
  background-color: #E3F2FD;
  text-align: center;

}


.navbar {
  display: flex;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  background-color: #002855;
  padding: 10px 20px;
  color: white;
}

header{
  background-color: #002855;
  height: 104px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.footer {
  background-color: #002855;
  height: 50px;
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
  margin-top: auto;
  font-weight: 300;
}

.logo{
  display: flex;
  max-height: 84px;
  margin-left: 10px;
}
.login-container {

  background-color: #f0f8ff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-container .form label {
  align-self: flex-start;
}

.register-container {

  background-color: #f0f8ff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register-container .form label {
  align-self: flex-start;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f1f5ff;
}

.login-btn{
  width: 30%;
  align-self: center;
}

.alert-warning {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
}

p.alert-warning {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 5px 0 0;
}

